<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.1" targetFramework="net452" userInstalled="true" />
  <package id="Autofac.Configuration" version="3.1.0" targetFramework="net452" userInstalled="true" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net452" userInstalled="true" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net452" userInstalled="true" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.8" targetFramework="net452" userInstalled="true" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" userInstalled="true" />
  <package id="SpecFlow.Assist.Dynamic" version="1.2.0" targetFramework="net452" userInstalled="true" />
  <package id="SpecRun.Runner" version="1.6.0-rc001" targetFramework="net452" userInstalled="true" />
  <package id="SpecRun.SpecFlow.2-1-0" version="1.6.0-rc001" targetFramework="net452" userInstalled="true" />
</packages>